{
    "$schema": "http://json.schemastore.org/template",
    "author": "Uirá Peixoto",
    "description": "Template básico de arquitetura .net em camadas.",
    "classifications": [
        "Web",
        "ASP.NET"
    ],
    "name": "Poc .NetCore",
    "shortName": "basicoWebApi",
    "defaultName": "WebApi",
    "identity": "Poc-Template-WebApi",
    "tags": {
        "language": "C#",
        "type": "project"
    },
    "sourceName": "WebApi",
    "preferNameDirectory": true,
    "symbols": {
        "Framework": {
            "type": "parameter",
            "description": "The target framework for the project.",
            "datatype": "choice",
            "choices": [
                {
                    "choice": "net5.0",
                    "description": "Target net5.0"
                }
            ],
            "replaces": "net5.0",
            "defaultValue": "net5.0"
        },
        "excludeSamples": {
            "type": "parameter",
            "datatype": "bool",
            "description": "Create sample code",
            "defaultValue": "false"
        }
    },
    "placeholderFilename": "-.-",
    "sources": [
        {
            "modifiers": [
                {
                    "condition": "(excludeSamples)",
                    "exclude": [
                        "**/*Sample*.cs"
                    ]
                }
            ]
        }
    ]
} 